---
name: Tests

on:
  workflow_call:
  pull_request:

jobs:
  yamllint:
    runs-on: ubuntu-latest
    steps:
      - name: Check Out Sources
        uses: actions/checkout@v2
        with:
          submodules: true
      - name: Lint yml files
        uses: ibiqlik/action-yamllint@v3
        with:
          strict: true
...
